body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
  }
  
  header, nav, main, footer {
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  .dark-mode nav ul li a {
    color: white;
  }
  
  .dark-mode button {
    background-color: white;
    color: black;
  }
  
  .imagem-destaque {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
  }

  